{% extends 'main.html' %}
{% block content %}
<fieldset style="height: 78vh;">
    <legend>Update room</legend>
    <form action="" method="post" class="mx-4">
        {% csrf_token %}
        <p class="form-group">
            <label for="id_topic" class="form-label">Topic:</label>
            <select name="topic" required="" id="id_topic" class="form-control">
                <option value="">---------</option>
                {% for topic in topics %}
                    <option value="{{ topic.id }}" {% if topic.id == room.topic.id %} selected {% endif %}>{{ topic.name }}</option>
                {% endfor %}
            </select>
        </p>
        <p class="form-group">
            <label for="id_name" class="form-label">Name:</label>
            <input type="text" name="name" value="{{ room.name }}" maxlength="200" required="" id="id_name" class="form-control">
        </p>
        <p class="form-group">
            <label for="id_desc" class="form-label">Description:</label>
            <textarea name="desc" cols="60" rows="4" id="id_desc" class="form-control">{{ room.desc }}</textarea>
        </p>
        <input type="submit" value="Submit" class=" btn btn-primary form-control">
    </form>
</fieldset>
{% endblock content %}